@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h2>@ViewData["Title"]</h2>
<h4>
    Ваш пароль сброшен! Для входа на сайт перейдите по <a asp-action="Index" asp-controller="Home">ссылке</a>.
</h4>